.AncestorGraph {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
}

.AncestorGraph-graph {
    /* border: 1px silver solid; */
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
}

.AncestorGraph-table {
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    /* overflow-y: auto; */
}